In [1]:
import pandas as pd
from string import punctuation

In [2]:
df=pd.read_csv(r"E:\10.python\NLP\New folder\dataset (1).csv")

In [3]:
# df["language"].value_counts()

In [4]:
df

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [5]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [6]:
pun='!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
list_pun=list(pun)

In [7]:
# df

In [8]:
# t="sanket @#$"
pun='!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
list_pun=list(pun)
def punctuation_remove(text):
    result=""
    for j in range(len(pun)):
        for i in list_pun:
            if i in text:
                result=text.replace(i," ")
                text=result
            else:
                return text
    return result.strip()
# punctuation_remove()
df["Text"]=df["Text"].apply(punctuation_remove)

In [9]:
# Preprocessing

In [10]:
#train test split

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(df["Text"],df["language"],random_state=42,stratify=df["language"])

In [13]:
# Tokenizesation

In [14]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [15]:
cv=CountVectorizer(max_features=1000,max_df=0.95)
a=cv.fit_transform(x_train)
b=cv.transform(x_test)

In [346]:
a.A

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [347]:
cv.get_stop_words()

In [348]:
# cv.get_feature_names()

In [16]:
from sklearn.naive_bayes import MultinomialNB,GaussianNB,BernoulliNB
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [17]:
mb=MultinomialNB()
mb.fit(a.A,y_train)

MultinomialNB()

In [18]:
y_pred=mb.predict(b.A)

accuracy_score(y_test,y_pred)

0.8912727272727273

In [19]:
y_pred

array(['Romanian', 'Hindi', 'Indonesian', ..., 'Turkish', 'Latin',
       'Portugese'], dtype='<U10')

In [20]:
cl=classification_report(y_test,y_pred)
# print(cl)

In [21]:
cn=confusion_matrix(y_test,y_pred)
# cn

# GaussianNB

In [22]:
gnb=GaussianNB()
gnb.fit(a.A,y_train)

GaussianNB()

In [23]:
y_pred=gnb.predict(b.A)

accuracy_score(y_test,y_pred)

0.8867272727272727

In [24]:
bnb=BernoulliNB()
bnb.fit(a.A,y_train)

BernoulliNB()

In [25]:
y_pred=bnb.predict(b.A)

accuracy_score(y_test,y_pred)

0.9141818181818182

# TfidfVectorizer

In [26]:
tf=TfidfVectorizer(max_features=1000,max_df=0.95)
c=tf.fit_transform(x_train)
d=tf.transform(x_test)

# MultinomialNB

In [27]:
mb_tf=MultinomialNB()
mb_tf.fit(c.A,y_train)

MultinomialNB()

In [28]:
y_pred=mb_tf.predict(d.A)

accuracy_score(y_test,y_pred)

0.8916363636363637

# GaussianNB

In [29]:
gnb=GaussianNB()
gnb.fit(c.A,y_train)

GaussianNB()

In [30]:
y_pred=gnb.predict(d.A)

accuracy_score(y_test,y_pred)

0.8867272727272727

# BernoulliNB

In [31]:
bnb=BernoulliNB()
bnb.fit(c.A,y_train)

BernoulliNB()

In [32]:
y_pred=bnb.predict(d.A)

accuracy_score(y_test,y_pred)

0.9141818181818182

In [33]:
y_pred

array(['Romanian', 'Hindi', 'Indonesian', ..., 'Turkish', 'Latin',
       'Portugese'], dtype='<U10')

In [34]:
result=pd.DataFrame()

In [35]:
result["y_test"]=y_test

In [36]:
result["y_pred"]=y_pred

In [37]:
result

           y_test      y_pred
281      Romanian    Romanian
11559       Hindi       Hindi
11484  Indonesian  Indonesian
16688    Japanese    Japanese
10432      Arabic      Arabic
...           ...         ...
1711        Latin     Chinese
17169        Urdu        Urdu
19033     Turkish     Turkish
5758        Latin       Latin
16947   Portugese   Portugese

[5500 rows x 2 columns]

In [38]:
def language_detector(text):
    result1=cv.transform([string])
    y_pred=mb_tf.predict(result1.A)
    return f"Your typeing language ::: {y_pred[0]} "

In [39]:
string="my name is sanket.my village name ozar.my country name is india. i love my india"
language_detector(string)

'Your typeing language ::: English '

In [40]:
string="मेरा नाम संकेत है। मेरे गांव का नाम ओजर है। मेरे देश का नाम भारत है" #hindi
language_detector(string)

'Your typeing language ::: Hindi '

In [41]:
string="اسمي sanket ، اسم قريتي ozar ، اسم بلدي الهند"  #arebic
language_detector(string)

'Your typeing language ::: Arabic '

In [42]:
striing="mi nombre es. el nombre de mi pueblo es. el nombre de mi país es " #spanish
language_detector(string)

'Your typeing language ::: Arabic '

In [43]:
string="میرا نام سنکیت ہے۔میرے گاؤں کا نام اوزر۔میرے ملک کا نام انڈیا ہے۔" #Urdu
language_detector(string)

'Your typeing language ::: Urdu '

In [44]:
string="mon nom est sanket.mon nom de village ozar.mon nom de pays est l'inde" # French
language_detector(string)

'Your typeing language ::: French '

In [45]:
string="ฉันชื่อ sanket.my ชื่อหมู่บ้าน ozar.ประเทศของฉันชื่ออินเดีย"  # Thai
language_detector(string)

'Your typeing language ::: Thai '

In [46]:
string="mijn naam is sanket.mijn dorpsnaam ozar.mijn landsnaam is india"  # Dutch
language_detector(string)

'Your typeing language ::: Dutch '

In [47]:
string="내 이름은 입니다.내 마을 이름은 입니다.내 국가" # Korean
language_detector(string)

'Your typeing language ::: Arabic '

In [331]:
string="nama saya sanket.nama desa saya ozar.nama negara saya adalah india" #Indonesian 
language_detector(string)

'Your typeing language ::: Indonesian '

In [48]:
import pickle

In [49]:
f=open("Langmodel.pkl",'wb')
pickle.dump(mb_tf,f)
f.close()

In [50]:
f=open("countvector.pkl",'wb')
pickle.dump(cv,f)
f.close()